html, body {
    margin: 0;
    padding: 0;
    min-width: 1000px;
    font-family: Arial;
}
.clearfix {
    clear: both;
}
header {
    padding: 40px 0;
}
    .logo {
    float: left;
    margin-right: 50px;
    }    
    .weather {        
        float:right;
        margin-right: 50px;
        padding-left: 40px;
        padding-top: 15px;
        background-repeat: no-repeat;
        color: #8f8f9d;
    }    
    .search {
    float: right;
    width: 300px;
    border: 1px solid #f3f3f3;
    background-color: #f3f3f3;       
    color: #919191;
    padding: 13px 0 13px 20px;
    border-radius: 30px;    
    }
    .search img {
        float: right;
        padding-right: 20px;
    }
    .search input {
        border: none;
        font-size: 14px;
        background-color: #f3f3f3;
    }
    .select{
        width: auto;
        float: left;        
        position: relative;
        padding-top: 13px;
    }
    .select img {
        position: relative;
        
    } 
    select {
        width: auto;              
        border: none;
        color: #448ccb;
        background: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    
    nav {
        margin-top: 35px;
        color: #e5e5e8;               
    }
    nav a {
        color: black;
        text-decoration: none;
        padding: 0 15px;
    }
    nav li {
        display: inline;
        
    }
    nav li:first-child a {
        padding-left: 0;
    }
.black-bar {
    background-color:#010a18;
    color: white;
    padding: 20px 0;
}
    .black-bar a {
    color: white;
    }
    #datetime {
        float: right;
    }
.fixed-container {
	width: 1000px;
	margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.central-container {
    background-color: #f9f9f9;
    padding-bottom: 60px;    
    background-image: url('../img/central-bg-top.png');
	background-repeat: repeat-x;
}
    aside.left {
        background-color: white;
        float: left;
        width: 250px;
        margin-right: 20px;
        margin-top: 20px;
    }
        .news {
            font-size: 20px;
            border-bottom: 2px solid #e5e5e5;
            margin: 0;
            padding-left: 20px;
        }
            .item-text {
                padding: 30px 20px 20px 20px;
                font-size: 14px;
            }
            .item-prop {
                font-size: 12px;
                overflow: hidden;
                padding-left: 20px;
            }
                .item-prop a {
                    margin-right: 15px;
                    text-decoration: none;
                    float: left;
                    color: #b5b5be;
                }
                .time {
                    margin-right: 15px;
                    float: left;
                    background-image: url('../img/clock.png');
                    background-repeat: no-repeat;
                    padding-left: 15px;
                }
                .comment {
                    float: left;
                    background-image: url('../img/icon-comments.png');
                    background-repeat: no-repeat;
                    padding-left: 15px;                                        
                }     
        .botton {
            width: 250px;
            margin-left: 40px;
            margin-top: 40px;
            margin-bottom: 25px;
        }
        .botton a {
                color: #448ccb;
                font-size: 14px;
                text-decoration: none;
                position: relative;
                top: 13px;
                left: 50px;                
            }        
            .all-news {
                border: 1px solid black;
                border-color: #448ccb;
                border-radius: 30px;
                width: 180px;
                height: 45px;                
            }    
    .central-block {
    width: 460px;
    float: left;
    margin: 20px 20px 0 0;         
    }
        .big-block {
            position: relative;
            height: 325px;
        }
            .big-block img {
                width: 100%;
                height: 100%;
            }
            .wrapper {
                position: relative;
            }
            .big-block-content {
                position: absolute;
                top: -220px;
                color: white;
                padding: 0 20px;                
            }
                .big-block-content a {
                    color: white;
                    font-size: 12px;
                }
                .content-text {
                    font-size: 30px;
                    margin: 25px 0;
                }
                .content-prop {
                    font-size: 12px;
                }
                .date {
                    float: left;
                    margin-right: 20px;
                }
        .small-block {
            width: 460px;
            margin-top: 20px;
            height: 235px;
            position: relative;            
        }
            .small-block img {
                width: 100%;
                height: 145px;
            }
            .small-block a {
                float: left;
                margin-right: 15px;
                color: #a8a8b1;
            }
            .small-block-text {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 15px;
            }
            .prop {
                font-size: 12px;
            } 
            .small-block-content-1 {
                width: 220px;
                margin-right: 10px;
                float: left;
                margin-bottom: 20px;
            }
            .small-block-content-2 {
                width: 220px;
                margin-left: 10px;
                float: left;
                margin-bottom: 20px;
            }                
    aside.right {
    float: right;
    width: 250px;
    margin-top: 20px;
    }
        .banner-1 {
            margin-bottom: 20px;
            padding: 0;
            width: 250px;
            height: 400px;
        }
        .banner-2 {            
            padding: 0;
            width: 250px;
            height: 420px;
        }
.special {
    width: 585px;
    height: 400px;
    float: left;
    margin-top: 20px;
}    
    .special img {
        width: 100%;
        height: 100%;
    }
        .special-content {
            position: absolute;
            top: -300px;
             color: white;
            padding: 0 20px;
        }
        .special-content a {
            color: white;
            font-size: 12px;
        }
        .content-header {
            font-size: 30px;
            margin: 25px 0;
        }
        .content-prop {
            font-size: 12px;
        }
        .date {
            float: left;
            margin-right: 20px;
        }
        .special-text {
            font-size: 14px;
            padding-top: 25px;
        }
.hotnews {
    float: right;
    width: 415px;
    height: 400px;
    margin-top: 20px;
    background-color: white;
}
    .hotnews-text {
        padding: 30px 0 20px 20px;
        font-weight: bold;
    }
footer {
    background-color: #00122f;
    color: white;         
}
.news-sections {
    position: relative;
    float: left;    
    margin-right: 20px;
    margin-top: 35px;    
    width: 250px;        
}
    .section-1 {
        float: left;        
    }
    .section-2 {
        float: right;
    }
    .news-sections a {
        color: white;
        text-decoration: none;
    }
.about-us {
    width: 250px;      
    float: left;
    margin-top: 55px;
    margin-left: 165px;    
}
.about-us a {
    color: white;
    text-decoration: none;
}
.contact {
    float: right;
    width: 260px;    
    margin-top: 55px;
    font-size: 18px;     
}
.contact a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.contact img {
    margin-left: 20px;    
}
.phone {
    padding: 40px 0 20px 0;
    
}
.phone img {
    margin-right: 20px;
}
.mail img {
    margin-right: 20px;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
li {
    padding-top: 20px;
}
.inform {    
    border-top: 2px solid #26354e;
    font-size: 14px;
    color: #7a7f88;
    text-align: center;
    padding: 20px;
    margin-top: 55px;
}



